/* layout.css */

/* Cấu trúc Grid 3 cột */
.main_container {
    display: grid;
    grid-template-columns: var(--left-width, 0.5fr) 6fr 2fr;
    gap: 3px;
    margin-top: 65px;
    margin-bottom: 75px;
    height: calc(100vh - 140px);
}

.left-menu-bar, .main-content, .right-bar {
    background-color: #181818;
    border-radius: 8px;
    padding: 20px;
}

/* Quy định VỊ TRÍ của thanh nhạc (nhưng không quy định màu sắc bên trong) */
.music-player-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px; /* Chiều cao cố định để main_container né ra */
    z-index: 1000;
}